name: Build for Windows

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v1
      with:
        path: ../Qt
        key: ${{ runner.os }}-QtCache
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        target: 'desktop'
        version: '5.15.2'
        modules: 'qtcharts qtwebengine qtscript'
        arch: 'win64_mingw81'
        cached: ${{ steps.cache-qt.outputs.cache-hit }}
    - name: Configure
      run: |
        mkdir -p build
        cd build
        cmake.exe ..
        make
        make install
    - name: show filetrees
      run: |
        ls -R
    - uses: actions/upload-artifact@v1
      with:
        name: Debug-APP
        path: "C:\\Program Files (x86)\\Stellarium"
